.price {
    display: block;
    margin-bottom: auto;
    margin-left: auto;
}

.price-time-container {
    color: #949494;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.date {
    margin-right: 1rem;
}

.time-format {
    margin-left: .5rem;
}