.settings-page {
    min-height: calc(100vh - 8rem);
}

.settings-header {
    padding: 2rem 0;
}

.user-img-container {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem auto;
}

.about-user {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: center;
}

.about-user-name {
    font-weight: 600;
}

.about-user-email {
    color: #949494;
}

.btn-logout {
    font-size: 1.6rem;
    display: block;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
}