* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 56%;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

ul {
  list-style: none;
}

.ml-1 {
  margin-left: 1.5rem;
}

.btn {
  border: none;
  background-color: white;
}

.page {
  padding-bottom: 8rem;
}