* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 56%;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

ul {
  list-style: none;
}

.ml-1 {
  margin-left: 1.5rem;
}

.mb-none {
  margin-bottom: 0;
}

.btn {
  border: none;
  background-color: unset;
}

.page {
  min-height: 100vh;
  position: relative;
}

.page-pb {
  padding-bottom: 8rem;

}

.page-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.page-title {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.page-padding {
  padding: 0 1rem;
}

.background-gray {
  background-color: #f1f1f1;
}